<!DOCTYPE html>
<html>
<head>
    <title>Live Stream</title>
    <style>
        #video-stream {
            /* Adjust these values to suit your needs */
            width: 1600px;
            height: 900px;
            /* Optional: add a border and center the video stream */
            border: 1px solid black;
            display: block;
            margin: 0 auto;
        }
    </style>
</head>
<body>
    <h1>Here's my camera live stream!!!!</h1>
    <img id="video-stream" src="{{ url_for('video_stream') }}" />
</body>
</html>